{% extends 'newsapp/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

         <!-- Newest Topic -->
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur.</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur. Orci ac gravida arcu augue. Suscipit dis nec vitae quam tristique risus libero semper. Aliquet aliquam adipiscing proin rh. Purus nec sed a amet nec ac. Ac tincidunt integer ornare enim parturient cras. Sed feugiat odio felis rhoncus et.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="" class="img-fluid ml-3" alt="Sample Image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur.</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur. Orci ac gravida arcu augue. Suscipit dis nec vitae quam tristique risus libero semper. Aliquet aliquam adipiscing proin rh. Purus nec sed a amet nec ac. Ac tincidunt integer ornare enim parturient cras. Sed feugiat odio felis rhoncus et.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="" class="img-fluid ml-3" alt="Sample Image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur.</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur. Orci ac gravida arcu augue. Suscipit dis nec vitae quam tristique risus libero semper. Aliquet aliquam adipiscing proin rh. Purus nec sed a amet nec ac. Ac tincidunt integer ornare enim parturient cras. Sed feugiat odio felis rhoncus et.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="" class="img-fluid ml-3" alt="Sample Image">
                        </div>
                    </div>
                </div>
            </div>
             <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur.</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur. Orci ac gravida arcu augue. Suscipit dis nec vitae quam tristique risus libero semper. Aliquet aliquam adipiscing proin rh. Purus nec sed a amet nec ac. Ac tincidunt integer ornare enim parturient cras. Sed feugiat odio felis rhoncus et.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="" class="img-fluid ml-3" alt="Sample Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Hot Topics / Related Topics -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur145</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="" class="img-fluid ml-3" alt="Sample Image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
